<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>게시판</title>
    <nav>글 쓰기 화면</nav>
</head>
<body>
<div>
    <br/>
    <div align="center">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="imageFiles">이미지 파일들 : </label>
            <input type="file" id="imageFiles" name="files" multiple="multiple"/>
            <br/><br/>
            <button type="submit">제출</button>
        </form>
    </div>
</div>
</body>
</html>